{% extends 'website/base.html' %}
{% block title %} Login {% endblock %}

{% block head %}
{% endblock %}

{% block content %}    
    <section id="contact">
        <div class="container">
            <div class="center-title">
                <span class="center-line"></span>
                <p class="p-title">Login</p>
            </div>
            <div class="row">
                <div class="col-md-12 margin30">
                    <div class="divide30"></div>
                    <div class="form-contact">
                        <form name="sentMessage" id="contactForm" class="contact-form" method="post">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="row control-group">
                                        <div class="form-group col-xs-12 controls">
                                            <label>Email<span>*</span></label>
                                            <input type="email" class="form-control" placeholder="Email" id="email" name="email" required data-validation-required-message="Please enter your email address.">
                                            <p class="help-block"></p>
                                        </div>
                                    </div> 
                                </div>
                                <div class="col col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="row control-group">
                                        <div class="form-group col-xs-12 controls">
                                            <label>Senha<span>*</span></label>
                                            <input type="password" class="form-control" placeholder="Nome" id="psw" name="psw" required data-validation-required-message="Por favor digite a senha">
                                            <p class="help-block"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="success"></div>
                            <div class="row">
                                <div class="form-group col-xs-12 text-right">
                                    <span id="btn-entrar" class="btn btn-primary btn-lg">Enviar</span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>  
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="/{{ STATIC_URL }}js/admin/adm.js"></script>  
{% endblock %}    