{% extends 'website/base.html' %}
{% block title %} LAB {% endblock %}

{% block head %}
{% endblock %}

{% block content %}    
    <section id="blog" class="blog">
        <div class="container">
            <div class="center-title">
                <span class="center-line"></span>
                <p class="p-title">Ecommerce</p>
            </div>            
            <div class="row">
                <div class="col col-xs-12 col-sm-12 col-md-12 col-lg-12 col-ecommerce">
                    <div class="bs-callout bs-callout-info" id="callout-modal-youtube"> 
                        <h4>Cadastro de clientes</h4> 
                        <p>
                            Cadastro simples de clientes em que será possível incluir, editar, pesquisar, excluir e detalhar os dados do cliente.
                        </p> 
                        <a href="/lab/ecommerce/cliente/">Acesse a página</a>
                    </div>
                </div>
            </div>
        </div>
    </section>    
{% endblock %}

{% block javascripts %}
{% endblock %}    