{% extends 'admin/base.html' %}
{% block title %}Transportadora{% endblock %}
{% block content %}

<!--contact section-->
<section id="contact">
    <div class="container index-cliente">
        <div class="left-title">
            <span class="left-line"></span>
            <h3 class="title">LISTAGEM DE TRANSPORTADORAS</h3>
        </div>
        <div class="well">
            <div class="row form-contact">
                <div class="col col-xs-12 col-sm-12 col-md-6 col-lg-6 text-left">
                    <a href="/admin/transportadora/novo/" class="btn btn-primary btn-lg">CADASTRAR</a>
                </div>
                <div class="col col-xs-12 col-sm-12 col-md-6 col-lg-6 text-right col-buscar">
                    <form name="buscarCliente" id="buscarCliente" class="contact-form form-buscar" method="get" action="/admin/transportadora">
                        <div class="row control-group">
                            <div class="form-group controls">
                                <input type="text" class="form-control" placeholder="Digite o nome da transportadora que deseja encontrar" id="cliente" name="q" value="{% if response.query.q %}{{ response.query.q }}{% endif %}">
                                <button type="submit" class="btn btn-primary btn-lg btn-buscar">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div> 
                    </form>
                </div>
            </div>
        </div>
        <div class="divide30"></div>
        <div id="message"></div>
        <div class="row row-cliente">
            <div class="col col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th width="3%">#</th>
                            <th width="43%">Nome transportadora</th>
                            <th width="12%">CNPJ</th>
                            <th width="12%">&nbsp;</th>
                            <th width="25%">&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for trans in response.transportadora.lista %}
                            <tr>
                                <th scope="row">{{ forloop.counter }}</th>
                                <td>{{ trans.name }}</td>
                                <td class="td-cnpj">{{ trans.cnpj }}</td>
                                <td>
                                    <select id="tr-{{ trans.cnpj }}" class="rating" data-cnpj="{{ trans.cnpj }}">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                                </td>
                                <td>
                                    <a href="/admin/transportadora/{{ trans.cnpj }}" class="btn btn-primary btn-sm">Detalhes</a>
                                    <a href="/admin/transportadora/editar/{{ trans.cnpj }}" class="btn btn-primary btn-sm">Editar</a>
                                    <a href="/admin/transportadora/deletar/{{ trans.cnpj }}" class="btn btn-primary btn-sm">Deletar</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <input type="hidden" id="hd-lista" name="hd-lista" value="{{ response.lista }}"/>
    </div>
</section>
<!--end contact section-->   
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="/{{ STATIC_URL }}js/admin/transportadora/lista.js"></script>
{% endblock %}