{% extends 'website/base.html' %}
{% block title %}Detalhe{% endblock %}
{% block content %}

<!--contact section-->
<section id="contact" class="detalhe">
    <div class="container">
        <div class="left-title">
            <span class="left-line"></span>
            <h3 class="title">DETALHE DO CLIENTE</h3>
        </div>
        <div class="well">
            <div class="row form-contact">
                <div class="col col-xs-12 col-sm-12 col-md-6 col-lg-6 text-left">
                    <a href="/lab/ecommerce/cliente/" class="btn btn-primary btn-lg">LISTA DE CLIENTES</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-xs-12 col-sm-12 col-md-12 col-lg-12">
                {% for cli in response.cliente.lista %}
                    {% if cli.name %}
                        <p>
                            <span class="dados">Nome:</span>
                            <span class="info">{{ cli.name }}</span>
                        </p>
                    {% endif %}
                    {% if cli.cpf %}
                        <p>
                            <span class="dados">CPF:</span>
                            <span class="info">{{ cli.cpf }}</span>
                        </p>
                    {% endif %}
                    {% if cli.email %}
                        <p>
                            <span class="dados">E-mail:</span>
                            <span class="info">{{ cli.email }}</span>
                        </p>
                    {% endif %}
                    {% if cli.maritalStatus %}
                        <p>
                            <span class="dados">Estado civil:</span>
                            <span class="info">{{ cli.maritalStatus }}</span>
                        </p>
                    {% endif %}
                    {% if cli.logradouro %}
                        <p>
                            <span class="dados">Logradouro:</span>
                            <span class="info">{{ cli.logradouro }}</span>
                        </p>
                    {% endif %}
                    {% if cli.numero %}
                        <p>
                            <span class="dados">Número:</span>
                            <span class="info">{{ cli.numero }}</span>
                        </p>
                    {% endif %}
                    {% if cli.bairro %}
                        <p>
                            <span class="dados">Bairro:</span>
                            <span class="info">{{ cli.bairro }}</span>
                        </p>
                    {% endif %}
                    {% if cli.nomebairro %}
                        <p>
                            <span class="dados">Nome Bairro:</span>
                            <span class="info">{{ cli.nomebairro }}</span>
                        </p>
                    {% endif %}
                    {% if cli.cidade %}
                        <p>
                            <span class="dados">Cidade:</span>
                            <span class="info">{{ cli.cidade }}</span>
                        </p>
                    {% endif %}
                    {% if cli.nomecidade %}
                        <p>
                            <span class="dados">Nome cidade:</span>
                            <span class="info">{{ cli.nomecidade }}</span>
                        </p>
                    {% endif %}
                    {% if cli.estado %}
                        <p>
                            <span class="dados">Estado:</span>
                            <span class="info">{{ cli.estado }}</span>
                        </p>
                    {% endif %}
                    {% if cli.nomeestado %}
                        <p>
                            <span class="dados">Nome estado:</span>
                            <span class="info">{{ cli.nomeestado }}</span>
                        </p>
                    {% endif %}
                    {% if cli.telefones %}
                        {% for tel in cli.telefones %}
                            <p>
                                <span class="dados">Telefone {{ forloop.counter }}:</span>
                                <span class="info telefone">{{ tel.telefone }}</span>
                            </p>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</section>
<!--end contact section-->   
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="/{{ STATIC_URL }}js/website/lab/ecommerce/detalhe.js"></script>    
{% endblock %}