{% extends 'website/base.html' %}
{% block title %}Clientes{% endblock %}
{% block content %}

<!--contact section-->
<section id="contact">
    <div class="container index-cliente">
        <div class="left-title">
            <span class="left-line"></span>
            <h3 class="title">LISTAGEM DE CLIENTES</h3>
        </div>
        <div class="well">
            <div class="row form-contact">
                <div class="col col-xs-12 col-sm-12 col-md-6 col-lg-6 text-left">
                    <a href="/lab/ecommerce/cliente/novo/" class="btn btn-primary btn-lg">NOVO CLIENTE</a>
                </div>
                <div class="col col-xs-12 col-sm-12 col-md-6 col-lg-6 text-right col-buscar">
                    <form name="buscarCliente" id="buscarCliente" class="contact-form form-buscar" method="get" action="/lab/ecommerce/cliente">
                        <div class="row control-group">
                            <div class="form-group controls">
                                <input type="text" class="form-control" placeholder="Digite o nome do cliente que deseja encontrar" id="cliente" name="q" value="{% if response.query.q %}{{ response.query.q }}{% endif %}">
                                <button type="submit" class="btn btn-primary btn-lg btn-buscar">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div> 
                    </form>
                </div>
            </div>
        </div>
        <div class="divide30"></div>
        <div class="row row-cliente">
            <div class="col col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th width="8%">#</th>
                            <th width="26%">Nome</th>
                            <th width="26%">Email</th>
                            <th width="15%">CPF</th>
                            <th width="25%">&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for cli in response.cliente.lista %}
                            <tr>
                                <th scope="row">{{ forloop.counter }}</th>
                                <td>{{ cli.name }}</td>
                                <td>{{ cli.email }}</td>
                                <td>{{ cli.cpf }}</td>
                                <td>
                                    <a href="/lab/ecommerce/cliente/{{ cli.cpf }}" class="btn btn-primary btn-sm">Detalhes</a>
                                    <a href="/lab/ecommerce/cliente/editar/{{ cli.cpf }}" class="btn btn-primary btn-sm">Editar</a>
                                    <a href="/lab/ecommerce/cliente/deletar/{{ cli.cpf }}" class="btn btn-primary btn-sm">Deletar</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<!--end contact section-->   
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="/{{ STATIC_URL }}js/website/lab/ecommerce/client.js"></script>
{% endblock %}