{% extends 'website/base.html' %}
{% block title %} LAB {% endblock %}

{% block head %}
{% endblock %}

{% block content %}    
    <section id="blog" class="blog">
        <div class="container">
            <div class="center-title">
                <span class="center-line"></span>
                <p class="p-title">LAB</p>
            </div>            
            <div class="row">
                <div id="owl-news">
                    <div class="item">
                        <div class='news-col'>
                            <img src="/{{ STATIC_URL }}img/node-python.png" class="img-responsive" alt="">
                            <h3><a href='/lab/ecommerce/cliente/'>Ecommerce</a></h3>
                            <ul class="list-inline">
                                <li>
                                    <i class="fa fa-code-fork"></i>
                                    Python, Django, NodeJS e MongoDB&nbsp;
                                    <i class="fa fa-code-fork"></i>
                                </li>
                                <!-- <li><a href="#"><i class="ti-comments"></i> 4 Comments</a></li>
                                <li><i class="ti-calendar"></i> 27 Sep. 2015</li> -->
                            </ul>
                            <p>
                                Cadastro de clientes utilizando as tecnologias Python, Django, NodeJS e MongoDB
                            </p>                               
                            <a href="/lab/ecommerce/cliente/" class="btn btn-default"> ACESSE <i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>    
{% endblock %}

{% block javascripts %}
{% endblock %}    